.app-content h1 {
  color: navy;
  width: 40rem;
  margin: 6rem;
  font-size: 3rem;
  font-weight: 900;
}
.app-content p {
  color: navy;
  width: 40rem;
  margin: 6rem;
}
.app-card {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  background-color: navy;
  width: 14rem;
  height: 12rem;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.8);
}
.title,
.comments,
.posts {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.card-section {
  display: flex;
}
